body { 
    font-family: monospace;
    font-size: 25px;
    padding: 0 0.7em;
    margin: 1em auto;
    max-width: 78ch;
    color: white;
    background: #1d1f21;
}
footer {
    border-top: 5px solid #81a2be;
}

header {
    border-top: 5px solid #81a2be;
    margin-top: 71px; 
}
h1,h2,h3 {
    color: #81a2be;
}
a { color: #81a2be;
}

li * {
	padding: 0.2rem 0.7rem;
}

